@font-face {
  font-family: "EB Garamond";
  font-weight: 400;
  src: url("/assets/fonts/EBGaramond-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "EB Garamond";
  font-weight: 700;
  src: url("/assets/fonts/EBGaramond-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "EB Garamond";
  font-weight: 400;
  font-style: italic;
  src: url("/assets/fonts/EBGaramond-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "EB Garamond";
  font-weight: 700;
  font-style: italic;
  src: url("/assets/fonts/EBGaramond-BoldItalic.woff2") format("woff2");
}

@font-face {
  font-family: "EB Garamond";
  font-weight: 800;
  font-style: italic;
  src: url("/assets/fonts/EBGaramond-ExtraBoldItalic.woff2") format("woff2");
}

/* ---- Flex Layout -------------------------------------------------------- */
div.container {
  display: flex;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

div.side {
  flex: 1;
}

div.content { /* ensures that long content doesn't widen this div */
  max-width: 100%;
}

@media screen and (width <= 640px) {
  div.side { /* collapse side columns on small screens */
    flex: none;
  }
}

/* ---- Default elements --------------------------------------------------- */
html, body {
  margin: 0;
  padding: 0;
  font-family: "EB Garamond";
}

header, footer {
  margin: 2rem;
  border-color: Black;
  border-width: thin;
}

main {
  font-size: 1.25rem;
  padding: 1rem;
}

a:link {
  color: red;
}

a:visited {
  color: darkred;
}

table {
  border-collapse: collapse;
}

th, td {
  padding: 0.5rem;
  border: Black thin solid;
}

img {
  max-width: 100%;
  height: auto;
  /* center 'em */
  display: block;
  margin: auto;
}

img + em { /* Image captions */
  font-size: 0.9rem;
  color: DimGray;
}

code { /* Markdown inline and fenced code text */
  color: DimGray;
  background-color: WhiteSmoke;
  font-size: 0.8rem;
}

pre { /* Markdown fenced code box */
  background-color: WhiteSmoke;
  border: 1px solid LightGray;
  padding: 1rem;
  overflow-x: scroll;
}

/* ---- Custom elements ---------------------------------------------------- */
div.logo {
  font-weight: 800;
  font-style: italic;
  letter-spacing: -0.098em;
  text-align: center;
}

/* ---- Index styling ------------------------------------------------------ */
div.index div.logo {
  font-size: clamp(2rem, 20vw, 10rem);
}

div.index nav {
  text-align: center;
}

div.index nav a:link, div.index nav a:visited, div.index nav a:hover {
  color: Black;
}

div.index table {
  table-layout: fixed;
  width: clamp(20px, 90vw, 500px);
  margin: auto;
}

div.index td {
  border-style: dotted none dotted none;
  border-width: 2px;
  border-color: Black;
}

td.posts-date {
  text-align: right;
  width: min-content;
}

td.posts-title {
  text-align: left;
}

/* ---- Post styling ------------------------------------------------------- */
div.post div.logo {
  font-size: clamp(2rem, 10vw, 3rem);
}

div.post header {
  border-bottom-style: solid;
  margin-bottom: 0;
  /* allows header to take up full width of screen */
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

div.post header a:link, div.post header a:visited, div.post header a:hover {
  color: Black;
  text-decoration: none;
}

div.post main {
  padding-left: 1rem;
  padding-right: 1rem;
}
/* On larger screens, keep the width ~80ch but use a nicer unit */
@media screen and (width >= 640px) {
  div.post main {
    width: 40rem;
  }
}

div.post h1 { /* Title */
  margin-bottom: 0;
}

div.post h5 { /* Date */
  margin-top: 0;
  font-weight: normal;
}

div.post h6 { /* Tags (parsed by build script, not yet implemented) */
  visibility: collapse;
}

div.post footer {
  border-top-style: solid;
}
