body { font-size: 16px; }

nav { margin-left: 1em; }

main {
  max-width: 50em;
  margin: 1em;
  line-height: 1.5;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0.25em;
}

section.end { margin-bottom: 10em; }

article.journal {
  border: 1px solid;
  border-color: burlywood;
  background-color: cornsilk;
  margin: 1em;
  margin-left: 0;
  padding-left: 1em;
  padding-right: 1em;
}

// Markdown `inline code`
code.language-plaintext {
  color: darkslategray;
  background-color: whitesmoke;
}

// Markdown ```fenced code```
div.highlight {
  border: 1px solid;
  border-color: silver;
  padding: 1em;
  font-size: 12px;
  font-family: monospace;
  min-width: 80ch;
}
