<!DOCTYPE html>
<html>

<head>
${__HEAD__}
</head>

<body>
<div class="container">
    <div class="side"></div>

    <div class="content index">
        <header>
            <div class="logo">UndoLand</div>
            <nav>
                <a href="scratchpad.html">scratchpad</a> |
                <a href="about.html">about me</a>
            </nav>
        </header>

        <main>
            <table>
${__POSTS__}
            </table>
        </main>
    </div>

    <div class="side"></div>
</div>
</body>
</html>
